.notification {
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    /* border-radius: 2px; */
  }
  
  .notification .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    /* padding: 5px 10px; */
    border-radius: 100%;
    background: red;
    color: white;
    font-size: 0.4em;
  }