
.items{
    border: 1px solid yellow;
    height: 100%;
    /* display: flex;
    justify-content:space-around;
    align-items: stretch;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute children evenly along the main axis */
    align-items: stretch; /* Stretch children to fill the height of the parent */
}

.logo{
    border: 1px solid rgb(42, 195, 96);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    border: 1px solid rgb(42, 195, 96);
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item{
    padding: 20px;
}

.logout{
    border: 1px solid rgb(42, 195, 96);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}