
.holder{
  background-color: #2C3143;
  border-radius: 15px;
}

.notification1 {
    color: #FFEBEB;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
.notification1 .badge1 {
  position: absolute;
  top: 55px;
  left: 55px;
  border-radius: 25px;
  background: #FF4755;
  color: #FFEBEB;
  font-size: 0.7em;
  padding: 2px;
}

.img-class1{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden; /* Hide overflowing parts of the image */
  border: 1px solid #27B299;
}

.search-inpt1{
  background-color: #2C3143;
  border: 0;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.search-inpt1:hover{
  border: 1px solid #FFEBEB;
  box-shadow: #383838 0 0px 20px 0;
  box-sizing: border-box;
  opacity: 1;
}





