back-end/.venv
back-end/venv
back-end/db.sqlite3
back-end/models.py
back-end/__pycache__
back-end/migrations
back-end/authentication/__pycache__
back-end/authentication/migrations
back-end/ft_transcendence/__pycache__
.venv