# Python virtual environments
.venv/
venv/

# SQLite database
db.sqlite3

# Compiled Python files
*.pyc
__pycache__/
authentication/__pycache__/
ft_transcendence/__pycache__/
game/__pycache__/
dashboards/__pycache__/
compu_ai/__pycache__/
chat/__pycache__/

# Migrations
migrations/
authentication/migrations/
game/migrations/
dashboards/migrations/
compu_ai/migrations/
chat/migrations/

# macOS specific files
.DS_Store

data.log
urls.log
