social-auth-app-django
social-auth-core
timedelta
Django
django-filter
psycopg2-binary
djangorestframework
djangorestframework-filter
djangorestframework-simplejwt
djangochannelsrestframework
django-cors-headers
PyJWT
pytz
pyqrcode
pyotp
sqlparse
typing-extensions
asgiref
daphne
requests-mock
channels
faker
asgi_redis
channels_redis
django-channels-jwt-auth-middleware
drf-spectacular
