h1.cards {
  font-size: clamp(1rem, 0.8182rem + 0.5818vw, 3rem);
  color: var(--clr-red);
  border-top: var(--clr--white);
  background-color: var(--clr-ldark);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 300px;
}

.wrapper {
  gap: 20px 50px;
  overflow: auto;
}

div.option {
  width: 300px;
  height: 500px;
  cursor: pointer;
  transition: all 1s ease;
  filter: grayscale(80%);
  border-radius: 25px;
}

div.option:hover {
  filter: grayscale(0%);
  scale: 1.1;
}

img.cards {
  background-color: var(--clr-ldark);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 400px;
    width: 300px;
}
