@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.main_card
{
    background-color: #161625;
    border-radius: 15px;
}

.auth_btn
{
    background-color: transparent;
    font-family: 'valorax';
    font-size: 1.2em;
    border-radius: 15px;
    border: 1;
    border-style: solid;
}

.input_class
{
    color: #565A69;
    background-color: #2C3143;
    border-radius: 15px;
    font-family: 'itim';
}

.input_class::placeholder
{
    color: #565A69;
}

.sign_btn
{
    background-color: #FF4755;
    font-family: 'valorax';
    font-size: 1.4em;
    border-radius: 15px;
    color: #161625;
    border: 0;
    height: 60px;
}

.sign_btn:hover
{
    background-color: #fc606d;
    color: #161625;
}

.flexx
{
  padding-top: 5%;
  padding-left: 13%;
  padding-right: 13%;
}

@media screen and (min-width: 1400px) and (min-height: 700px)
{
  .flexx
  {
    padding-top: 30%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 1100px) and (min-height: 700px)
{
  .flexx
  {
    padding-top: 19%;
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media screen and (max-width: 480px) 
{
  .sign_btn
  {
      background-color: #FF4755;
      font-family: 'valorax';
      font-size: 1em;
      border-radius: 15px;
      color: #161625;
      border: 0;
      height: 50px;
  }
  .main_img
  {
    display: none;
  }
}
