/* --clr-red: #FF4755;
--clr-ldark : #161625;
--clr--white: #FFEBEB;
--clr-dark: #111111;
--clr--green : #27B299;
--clr--grey : #2C3143; */

.form_container {
    border-radius: 25px;
    background-color: var(--clr-ldark);
    width: 100%;
    min-width: 300px;
    max-width: 1700px;
}

/* .form_title {
    height: 10%;
}

.input_container {
    height: 90%;
}

.input_tourn_name {
    height: 10%;
} */

.input_title {
    width : 450px
}

.rangeTitle, .input_title {
    color : #565a69;
}

.input_holder {
    width : 450px;
}

.input_text {
    outline: none;
    border : none;
    border-radius: 25px;
    height: 60px;
    color: #565a69;
    width: 100%;
    background-color: var(--clr--grey);
}

.input_text:focus {
    color : var(--clr--white)
}

.slider {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 25px;  
    background: var(--clr--grey);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--clr-red);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--clr-red);
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb:hover {
    scale : 1.01;
    color : var(--clr-dark);
    background-color: var(--clr--white);
    
  }

  .create_button {
    width : 200px;
    height : 50px;
    border : none;
    border-radius : 15px;
    background-color : #FF4755;
    color : var(--clr--white);
    font-size: clamp(1rem, 0.953rem + 0.253vw, 1.9rem)
  }

  .create_button:hover,  .slider::-webkit-slider-thumb:hover {
    scale : 1.01;
    color : var(--clr-dark);
    background-color: var(--clr--white);
    
  }

  
  @media only screen and (max-width: 530px) {

    .input_title {
        width : 290px
    }
    .input_holder {
        width : 290px
    }
}