@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* :root {
  --clr-red: #FF4755;
  --clr-ldark : #161625;
  --clr--white: #FFEBEB;
  --clr-dark: #111111;
  --clr--green : #27B299;
  --clr--grey : #2C3143;

  --border-r : 25px;
} */


@font-face {
    font-family: 'valorax';
    src: url('/valorax.otf') format('opentype')
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #111111;
  }

  .itim-font {
    font-family: 'itim', cursive !important;
  }
  
  .valo-font {
    font-family: 'valorax', Georgia, 'Times New Roman', Times, serif;
    color: #FFEBEB;
  }
