@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@font-face {
    font-family: 'valorax';
    src: url('/valorax.otf') format('opentype')
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #111111;
  }

  .itim-font {
    font-family: 'itim', cursive !important;
  }
  
  .valo-font {
    font-family: 'valorax', Georgia, 'Times New Roman', Times, serif;
    color: #FFEBEB;
  }
