/* --clr-red: #FF4755;
--clr-ldark : #161625;
--clr--white: #FFEBEB;
--clr-dark: #111111;
--clr--green : #27B299;
--clr--grey : #2C3143; */
.formWrapper {
    background-color: var(--clr-ldark);
    height : auto;
    width : 600px;
}

.input {
    outline: none;
    color: var(--clr--lgrey);
    /* color: var(--clr--white); */
    background-color: var(--clr--grey);
    height: 50px;
    border-radius: 25px;
    border : none;
}

.inputTitle {
    color : var(--clr--grey);
}

.inputHolder {
    width : 450px;
}

.slider {
    appearance: none;
    width: 95%;
    height: 15px;
    border-radius: 25px;  
    background: var(--clr--grey);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--clr-red);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--clr-red);
    cursor: pointer;
  }
  
  .imageFile {
    width : 450px;
    color : var(--clr--lgrey);
    /* display: inline-block; */
    padding: 12px 12px;
    cursor: pointer;
  }

 .create_button {
    border : none;
    border-radius : 25px;
    background-color : #FF4755;
    color : #111111;
    font-size: clamp(0.9rem, -0.268rem + 2.6144vw, 1.6rem);
  }

  .create_button:hover {
    scale : 1.1;
  }

  .input:focus {
    color: var(--clr--white);
  }

  .input:hover {
    scale : 1.01;
  }
  
@media only screen and (max-width: 1600px) {

    .formTitle {
        font-size: 1rem;
    }
    
    .inputHolder, .imageFile {
        width : 350px;
    }

    .formWrapper {
        width : 430px;
    }
}

@media only screen and (max-width: 776px) {

    .formTitle {
        font-size: 1rem;
    }

    .inputHolder, .imageFile {
        width : 250px;
    }

    .formWrapper {
        width : 300px;
    }
}

@media only screen and (max-width: 360px) {
    
    .formTitle {
        font-size: 1rem;
    }
    
    .inputHolder, .imageFile {
        width : 150px;
    }

    .formWrapper {
        width : 200px;
    }
}
