.container_localtournament {
    width: 98%;
    /* height: 100vh; */
    position: relative;
}

.winner_page {
    width: 98%;
    height: 100vh;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    border:1px solid black;
    backdrop-filter: blur(2px);
}

.winner_conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page_state {
    position: absolute;
    width: 100%;
}

.go_back {
    margin-top: 20px;
    width: 150px;
    height: 60px;
    border-color: white;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    font-family: valorax;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    /* text-align: center; */
}

.go_back:hover {
    border-color: black;
    background-color: white;
    color: black;
}
.winner_text {
    font-size: 50px;
    font-family: valorax;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
    -webkit-text-stroke: 1px black;
    color: rgba(70, 198, 70, 0.5);
    margin-bottom: 20px;
}

@media screen and (max-height: 700px) and (max-width: 1000px) {
    .winner_page {
        overflow: hidden;
    }
    .winner_btn {
        transform: scale(0.3) translateY(-800px);
    }
}
@media screen and (max-height: 700px) and (min-width: 1000px) {
    .winner_page {
        overflow: hidden;
    }
    .winner_btn {
        transform: scale(0.6) translateY(-300px);
    }
}
