.conatiner_t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181B20;
    color: #FFEBEB;
    font-family: 'itim';
    height: 100vh;
    width: 30%;
    font-size: 10px;
    overflow: auto;
    border: 1px solid #FFEBEB;
}

.conatiner_t1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181B20;
    color: #FFEBEB;
    font-family: 'itim';
    height: 100vh;
    width: 70%;
    font-size: 10px;
    overflow: auto;
    border: 1px solid #FFEBEB;
}
