.usr-class:hover{
    border: 1px solid FFEBEB;
    background-color: #2C3143;
    border-radius: 15px;
  }

.img-usr-class{
  width: 65px;
  height: 65px;
  border-radius: 25px;
  overflow: hidden; /* Hide overflowing parts of the image */
}

.opt-class:hover{
  cursor: pointer;
}

@media (max-height: 500px)
{
  .img-usr-class{
    width: 30px;
    height: 30px;
  }

  .usr-class h5{
    font-size: small;
  }

  .usr-class h6{
    font-size: small;
  }

  .opt-class{
    width: 20px;
    height: 20px;
  }
}
